.form_inner{
	color: white;
	margin: 20px;
}


.profile_photo{
	display: inline-block;
	width: 150px;
	height: 200px;
	border-radius: 5px;
}

.info_container{
	/*border: 2px solid white;*/
	width: 200px;
	margin-left: 10px;
	display: inline-block;
}

.info_container li{
	margin-bottom: 10px;
}